In [1]:
import pandas as pd

In [2]:
data={'index':[0,1,2,3,4,5,6,7],'experience':['','','five','two','seven','three','ten','eleven'],
     'test_score':[8,8,6,10,9,'',7,7], 'interview_score':[9,6,7,10,6,10,7,8],'salary':[50000,45000,60000,65000,70000,62000,72000,80000]}

In [3]:
df=pd.DataFrame(data )

In [4]:
df.columns

Index(['index', 'experience', 'test_score', 'interview_score', 'salary'], dtype='object')

In [5]:
df

   index experience test_score  interview_score  salary
0      0                     8                9   50000
1      1                     8                6   45000
2      2       five          6                7   60000
3      3        two         10               10   65000
4      4      seven          9                6   70000
5      5      three                          10   62000
6      6        ten          7                7   72000
7      7     eleven          7                8   80000

In [6]:
df['experience']=df['experience'].map({'five':5,'two':2,'seven':7,'three':3,'ten':10,'eleven':11})

In [7]:
df['experience']=df['experience'].fillna(0)

In [8]:
df['test_score']=pd.to_numeric(df['test_score'])

In [9]:
df['test_score'].fillna(df['test_score'].mean(),inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            8 non-null      int64
 1   experience       8 non-null      float64
 2   test_score       8 non-null      float64
 3   interview_score  8 non-null      int64
 4   salary           8 non-null      int64
dtypes: float64(2), int64(3)
memory usage: 448.0 bytes

In [11]:
df['test_score'].isnull().sum()

0

In [12]:
X=df.drop(['salary'], axis=1)
y=df.salary

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [14]:
X_train, X_test, y_train,y_test= train_test_split(X,y, test_size=0.2, random_state=42)

In [15]:
lr=LinearRegression()
lr.fit(X_train, y_train)
y_predicted=lr.predict(X_test)

In [16]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, adjusted_rand_score

In [17]:
mean_absolute_error(y_test,y_predicted)

5842.50585480094

In [18]:
mean_squared_error(y_test,y_predicted)

36468780.83178093

In [19]:
r2_score(y_test,y_predicted)

0.4952417877954196

In [20]:
import pickle

In [21]:
pickle.dump(lr, open('model.pkl','wb'))

In [22]:
modell=pickle.load(open('model.pkl','rb'))

In [23]:
modell.predict([[3,2,10,10]])

array([64225.40983607])